
#home-wrapper{
    display: flex;
    min-height: 150rem;
    background-color: black;

    
    drag-scroll{

        div{
            
            section{
                z-index: 2;
                height: calc(100vh - 30px); 
                width: 100vw;
    
                background-attachment: fixed;
                background-position: center;
                background-repeat: no-repeat;
                background-size: cover;
    
                
            }
           
        }
    }


    .content{
        background: black;
        width: 100%;
        position: absolute;
        top: calc(100vh - 30px);
        
        h2{
            position: relative;
            background-color: black;
            max-width: 30%;
            margin: auto;
            padding: 0.5em;
            top:-40px;
            border-top-left-radius: .5em;
            border-top-right-radius: .5em;

            color: rgb(248, 197, 68);
            text-align: center;
            font-size: 2em;
            font-weight: bold;
        }
    }

    .introduction{
        width: 60%;
        margin: auto;
        text-align: center;
        margin-bottom: 3em;

        hr{
            width: 100%;
            color:lightcoral;
            margin: 3% 0;
        }
        h1{
            color: #8a7d40;
            font-family: AlphaFont;
            font-size: 3em;
        }
        h3{
            color: #6F6534;
            font-size: 2em;
        }
        p{
            color: white;
            font-size: 1em;
            text-align: center;

            strong{
                color: #71250E;
            }
        }
    }

    .imgLinks{
        display: flex;
        flex-direction: row;
        justify-content: center;

        height: 25em;
        width: 100%;
        overflow: hidden;
        

        a{
            
        position: relative;
        
            img{
                height: 25em;
                width: 100%;
                transition: transform 1s;
                z-index: 2;
            }
            
            .img-text{
                font-size: 2em;
                text-align: center;
                color: white;

                background-color: rgba(0,0,0,0.85);
                padding: 3%;
                
                position: absolute;
                z-index: 3;
                
                top: 40%;
                left: 35%;
                width: 20%;
                
            }
        }
        a:hover{
            img{
                transform: scale(1.2);
            }
        }
    }



    .learn{
        height: 29em;
        overflow: hidden;
        margin-top: 0.5em;

        background-color: black;
        background-image: url("../../../assets/images/idaho-moutains.jpg");
        background-attachment: fixed;
        background-position: center;
        background-repeat: no-repeat;
        background-size: cover;

        h1{
            padding: 2em;
            text-align: center;
            font-size: 4em;
            color: white;
        }
        p{

            background-color: rgba(0, 41, 80, 0.568);
            padding: 4em;
            text-align: center;
            color: lightskyblue;
        }
    }

}

////////////////////Media Queries//////////////



/// Tablet
@media screen and (max-width: 1500px) and (min-width: 850px){
    #home-wrapper{
        height: 110em;

        .imgLinks{

            a{
                img{
                    height: 20em;
                }
            }
        }
    }
    

   .img-text{
    top: 20%!important;
    width:  3em!important;
   }
}



/// Phones
@media only screen and (max-width: 850px) {
    #home-wrapper{
        min-height: 220em;

            .logo{
                background-position: 44%!important;
                background-size: 250%!important;
            }

  
        .content{

            h2{
                font-size: 2em;
                max-width: 80%;
            }
        }


        .introduction{
            width: 90%;
            margin-bottom: 15%;
            
            h1{
                font-size: 3em;
            }
            h3{
                font-size: 2em;
            }
            p{
                text-align: center;
            }
        }


        .imgLinks{
            flex-direction: column!important;
            align-content: center;
            height:80em!important;
            position: relative;
            overflow: hidden;

            a{
        
                img{
                    height: 25em;
                    width: 100%;
                    border-top: 10px solid black;
                    
                }
            }

            .img-text{
                width: 20%!important;
                top: 20%;
                
            }
            
        }


        .learn{
            height: 45em!important;

            h1{
                font-size: 2.5em;
                padding: 30% 20%;
            }
        }
    }

    
    
}