


<div id="ds-wrapper">
    <aside>
        <h1>Sona Cafe</h1>
        <h3>Welcomes You!</h3>
        <hr>
        <h3>See our Menu here</h3>
    </aside>

    <drag-scroll (drag-scroll-y-disabled)="true" (scrollbar-hidden)="true">
        <div>
            <section drag-scroll-item style="background-image: url(../../../assets/images/header1.jpg)"></section>
            <section drag-scroll-item style="background-image: url(../../../assets/images/header2.jpg)"></section>
            <section drag-scroll-item style="background-image: url(../../../assets/images/header3.jpg)"></section>
        </div>
    </drag-scroll>

    <main class="content">
        <h2>Come on up!</h2> 

        <section class="introduction">
            <hr>
            <h1>To our Irish cafe!</h1>
            <h3>Located in Idaho</h3>
            <hr>
            <p><strong>And more information like:</strong> Lorem ipsum dolor sit amet consectetur adipisicing elit. Similique blanditiis sunt quidem, corrupti modi sit placeat cumque pariatur magni consequuntur facere, iure totam voluptate unde dignissimos eum delectus quibusdam beatae. Lorem ipsum dolor sit amet consectetur adipisicing elit. Id quasi maiores iste voluptatum quae dignissimos excepturi voluptatem repellendus at temporibus, aperiam tempora eveniet, ratione illo ipsa delectus praesentium assumenda hic.</p>
        </section>

        <div class="imgLinks">
            <a>
                <p class="img-text">Some Text</p>
                <img src="../../../assets/images/header1.jpg">
            </a>
            <a>
                <p class="img-text">Some Text</p>
                <img src="../../../assets/images/header2.jpg">
            </a>
            <a>
                <p class="img-text">Some Text</p>
                <img src="../../../assets/images/header3.jpg">
            </a>
        </div>

        <section class="learn">
            <h1>Learn more about us!</h1>
            <p>Lorem ipsum, dolor sit amet consectetur adipisicing elit. Quibusdam natus accusamus rem eligendi maxime quis, tempora animi quasi vel, vero libero delectus quia dicta! Consequatur cumque accusamus laborum ipsum modi.</p>
        </section>

    

    </main>

</div>

